html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    max-width: 800px;
    padding: 1rem;
}

header {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

figure {
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f4f4f4;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

th, td, caption {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #333;
    border-collapse: separate;
    padding: .5rem;
}